<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Discord Invite Lookup</title>
</head>

<body>
    <header class="header">
        <h1 class="title">Discord Invite Lookup</h1>
    </header>

    <main class="main">
        <label class="input-title" for="invite-link">Invite link</label>
        <input id="invite-link" type="text" placeholder="https://discord.gg/Xe9UJtdP"
            value="https://discord.gg/Xe9UJtdP">
        <button id="getInfoButton">Get Info</button>
    </main>
</body>

</html>